h1 {
	font-family: Helvetica;
	text-align: center;
}

img {
	width: 100px;
}

#big_div {
	margin: auto;
	border: 5px solid black;
	width: 500px;
	display: flex;
}

div div {
	display: flex;
    flex-direction: column;
	justify-content: space-between;
}

div div div{
    display: flex;
	flex-direction: row;
}